<h1>Movie Bookmark List</h1>
<p>Find me in app/views/lists/show.html.erb</p>

<p><%= @list.name %></p>
<%# <p><%= @bookmark.movie_id %></p> %>

<ol>
  <% @list.bookmarks.each do |bookmark| %>
    <li><%= bookmark.movie.title %></li>
    <%= bookmark.comment %>
  <% end %>
</ol>

<%= link_to "Add a bookmark", new_list_bookmark_path(list_id: @list.id) %>



<%# create a rating and review form here! %>
